{:paths ["src" "target/classes"]
 :deps {org.clojure/clojure {:mvn/version "1.12.5"}
        org.apache.kafka/kafka-streams {:mvn/version "7.9.2-ccs"}
        org.apache.kafka/kafka-streams-test-utils {:mvn/version "7.9.2-ccs"}
        digest/digest {:mvn/version "1.4.10"}}
 :mvn/repos {"confluent" {:url "https://packages.confluent.io/maven/"}
             "central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                         :sha "3f288f1f16d167723ad87cc35b1dfee3c1681e10"}}}
          :run-tests {:main-opts ["-e" "(set! *warn-on-reflection* true)" "-m" "cognitect.test-runner"]}
          :build {:extra-paths ["src-build"]
                 :extra-deps {badigeon/badigeon {:mvn/version "1.7"}}
                 :main-opts ["-e" "(set! *warn-on-reflection* true)" "-m" "build"]}
          :nREPL {:extra-deps {nrepl/nrepl {:mvn/version "1.7.0"}
                              cider/piggieback {:mvn/version "0.6.1"}}
                 :main-opts ["-m" "nrepl.cmdline"]}}}
